@font-face {
  font-family: 'mononoki';
  src: url('/font/mononoki-Regular.ttf') format('ttf'),
       url('/font/mononoki-Regular.otf') format('otf');
  /* 添加其他字体格式，以提高兼容性 */
}

body {
  font-family: 'mononoki', monospace; 
}
